<div class="container school-list-style" >
  <h1>Classroom List</h1>
    <% @classrooms.each do |classroom| %>
    <h2>Teacher Name: <a href="/classrooms/<%= classroom.id %>/projects"><%= classroom.teacher_name %></a></h2>
  <% end %>
</div>
  
  