<h1>Add your school</h1>

<%= form_tag "/schools", method: "post" do %>
  <div>
    Name: <input type="text" name="name">
  </div>
  <div>
    Address: <input type="text" name="address">
  </div>
  
  <input type="submit" class="btn btn-primary" value="Create New School">
<% end %>