<h1>Add a new school</h1>

<%= form_tag "/schools", method: "post" do %>
  <div class="form-group">
    Name: <input type="text" class="form-control" name="name">
  </div>
  <div class="form-group">
    Address: <input type="text" class="form-control" name="address">
  </div>
  
  <input type="submit" class="btn btn-primary" value="Create New School">
<% end %>