<h2>Name: <%= @school.name %></h2>
<p>Address: <%= @school.address %></p>

<ul>
  <% @school.classrooms.each do |classroom| %>
    <li>
      <%= link_to "#{classroom.teacher_name} - Room #{classroom.room_number}", "/classrooms/#{classroom.id}/projects" %>
    </li>
  <% end %>
</ul>
  


