.school-list-style {
  padding-top: 25px; 
    
    h2, h1, h4 {
    color: #8fbdd3;
    }
  }

h3 {
    /*text-transform: lowercase;*/
    color: #8fbdd3
}

h3:first-letter {
    /*text-transform: uppercase;*/
    color: #8fbdd3
}






